@use '../util' as *;

html {
  font-size: 100%;
  font-family: var(--font-body);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem 2rem;
  background-color: var(--c-background);
  color: var(--c-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}


.grid-events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(12);
  padding: rem(20);
}


.grid-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(12);
  padding: rem(20);
}
.img {
  width: rem(300);
  height: auto;
}